<div class="catalog-list-page">
  <h2>Liste des Bois</h2>
  <div class="blades-grid" *ngIf="blades.length > 0; else noBlades">
    <a class="blade-card" *ngFor="let blade of blades">
      <div class="card-avatar">
        <img [src]="apiUrl + '/equipment/blades/' + blade.id + '/image'" [alt]="blade.name" loading="lazy" />
      </div>

      <div class="card-info">
        <h3 class="blade-brand">{{ blade.brand.name }}</h3>
        <h3 class="blade-name">{{ blade.name }}</h3>
        <p style="color: var(--color-text-secondary); margin-top: 8px; font-size: 0.85em;">Poids: {{ blade.weight }}g</p>
      </div>
    </a>
  </div>
  
  <ng-template #noBlades>
      <p class="no-blades">Aucun bois enregistré pour le moment.</p>
  </ng-template>
</div>
